/Ejercicio02/build/
/Ejercicio04/Ejercicio04/build/
/Ejercicio04/JavaApplication7/nbproject/private/
/Ejercicio04/JavaApplication7/build/
/Ejercicio04/nbproject/private/
/Ejercicio06/Ejercicio06/nbproject/private/
/Ejercicio06/Ejercicio06/build/
/Ejercicio08/Ejercicio08/nbproject/private/
/Ejercicio08/Ejercicio08/build/
/Ejercicio10/Ejercicio10/nbproject/private/
/Ejercicio10/Ejercicio10/build/
